@import 'components/normalize';
@import 'components/base';
@import 'components/typography';
@import 'components/ui';

body {
	background: $color1;
}

* {
	outline: 1px solid red;
}

.wrapper {
	align-items: center;
	display: flex;
	flex-direction: column;
	max-width: 1250px;
	margin: 0 auto;
	position: relative;
	width: 80%;
}

.section_heading {
	padding-top: 15px;
	position: relative;
}

.section_heading h1 {
	line-height: 0.68;
}

.section_heading h2 {
	bottom: 15px;
	position: absolute;
}

.subtitle {
	margin: 20px 0;
}

// This is where the stying for the header section begins

header {
	height: 100vh;
	// Deviated from design:
	// padding-top: 88px;
	padding-top: 44px;
}

ul {
	list-style: none;
}


header h3 {
	// margin: 0px 188px;
	// Deviated from design:
	margin: 0px 94px;
}

.header__smtitlediv {
	position: relative;
}

.header__smtitlediv__triangleimgdiv {
	left: 108px;
	position: absolute;
	top: 82px;
}

nav, ul {
	display: flex;
	flex-direction: row;
	height: 10vh;
}

nav {
	display: flex;
	width: 100%;
}

ul {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

li,
li a {
	width: 100%;
}

.header__navul__left {
	text-align: right;
}

.header__navul__right {
	text-align: left;
}

.header__herodiv {
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
	background-image: url("../images/image_header_shapes.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	height: 80vh;
	width: 100%;
}

.header__herodiv__content {
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 35%;	
}

.header__herodiv__content h5 {
	margin: 20px 0px 60px 0px;
}

// This is where styles begin for the about section

.about {
	background-image: url("../images/image_about_shapes.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	height: 100vh;
}

.about .wrapper {
	position: relative;
}

.section_heading h2 {
	left: -10px;
}

.about__maindiv {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-right: -90px;
	position: relative;
	width: 80%;
}

.about__maindiv__textdiv {
	align-items: center;
	background: $color1;
	display: flex;
	height: 80%;
	left: -88px;
	position: absolute;
	width: 70%;
}

.about__maindiv__textdiv__falseborder {
	border-bottom: 1px solid $color2;
	border-left: 1px solid $color2;
	border-top: 1px solid $color2;
	height: 100%;
	width: 13.5%;
}

.about__maindiv__textdiv__ps {
	margin-left: -40px;
	width: 85%;
}

.about__maindiv__textdiv__ps p {
	margin: 3% 0px;
}

.about__maindiv__imgdiv {
	// height: 545px;
	width: 100%;
}

.about__maindiv__imgdiv img {
	width: 100%;
}

// This is where styling starts for the skills section

.skills {
	height: 100vh;
}

.skills .section_heading h2 {
	left: -5px;
}

.skills__div {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 90%;
}

.skills__know {
	width: 70%;
}

.skills__know__grid {
	display: grid;
	grid-template-columns: 30% 30% 30%;
}

.skills__tolearn__grid {
	display: grid;
	grid-template-columns: 100%;
}

.skills__languagediv {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin: 10px 0px;
}

.skills__languagediv p {
	align-items: center;
	display: flex;
	padding-left: 10px;
}

.skills__languagediv i {
	font-size: 22px;
}

.skills__languagediv__iconborder {
	align-items: center;
	border: 1px solid $color2;
	border-radius: 50%;
	display: flex;
	height: 60px;
	justify-content: center;
	width: 60px;
}

.skills__languagediv__iconborder img {
	width: 100%;
}

.skills_imgicon_padding {
	padding: 12px;
}

// This is where styling begins for the portfolio section

.work {
	background-image: url("../images/image_work_shapes.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	height: 100vh;
}

.work .section_heading h2 {
	left: 1px;
}

.work__projectdivfull {
	display: flex;
	flex-direction: row;
	height: 65vh;
	justify-content: space-around;
	margin-top: 2%;
}

.work__projectdiv {
	height: 100%;
	width: 25%;
}

.work__projectimgdiv__imgdiv {
	width: 100%;
}

.work__projectimgdiv__imgdiv img {
	width: 100%;
}

.work__projectdiv__languagebar {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.label_language {
	background: $color5;
	border-radius: 5px;
	color: $color1;
	padding: 5px;
	margin: 0 5px;
}

.work__projectdiv h4 {
	margin: 5% 0;
	text-align: center;
}

.work__projectdiv p {
	height: 13%;
	margin-bottom: 5%;
	text-align: center;
}

.view_live {
	display: flex;
	height: 55px;
	justify-content: center;
	width: 50%;
}

// This is where styling begins for blog section

.blog {
	height: 100vh;
}

.blog .wrapper {
	height: 95vh;
}

.blog .section_heading h2 {
	left: 12px;
}

.blog__articledivfull {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.blog__blogpostdiv {
	margin-bottom: 5%;
	width: 30%;
}

.blog__blogpostdiv__imgdiv {
	margin-bottom: 5%;
	width: 100%;
}

.blog__blogpostdiv__imgdiv img {
	border: 1px solid $color5;
	width: 100%;
}

.blog__blogpostdiv a {
	color: $color5;
	line-height: 36px;
	text-decoration: underline;
}

