@import 'components/normalize';
@import 'components/base';
@import 'components/typography';
@import 'components/ui';

body {
	background: $color1;
}

* {
	outline: 1px solid red;
}

.wrapper {
	align-items: center;
	display: flex;
	flex-direction: column;
	max-width: 1250px;
	margin: 0 auto;
	width: 80%;
}

.section_heading {
	padding-top: 15px;
	position: relative;
}

.section_heading h1 {
	line-height: 0.68;
}

.section_heading h2 {
	bottom: 15px;
	position: absolute;
}

.subtitle {
	margin: 20px 0;
}

// This is where the stying for the header section begins

header {
	height: 100vh;
	// Deviated from design:
	// padding-top: 88px;
	padding-top: 44px;
}

ul {
	list-style: none;
}


header h3 {
	// margin: 0px 188px;
	// Deviated from design:
	margin: 0px 94px;
}

.header__smtitlediv {
	position: relative;
}

.header__smtitlediv__triangleimgdiv {
	left: 108px;
	position: absolute;
	top: 82px;
}

nav, ul {
	display: flex;
	flex-direction: row;
	height: 10vh;
}

nav {
	display: flex;
	width: 100%;
}

ul {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

li,
li a {
	width: 100%;
}

.header__navul__left {
	text-align: right;
}

.header__navul__right {
	text-align: left;
}

.header__herodiv {
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
	background-image: url("../images/image_header_shapes.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	height: 80vh;
	width: 100%;
}

.header__herodiv__content {
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 35%;	
}

.header__herodiv__content h5 {
	margin: 20px 0px 60px 0px;
}

// This is where styles begin for the about section

.about {
	background-image: url("../images/image_about_shapes.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	height: 100vh;
}

.section_heading h2 {
	left: -10px;
}

.about__maindiv {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-right: -90px;
	position: relative;
	width: 80%;
}

.about__maindiv__textdiv {
	align-items: center;
	background: $color1;
	display: flex;
	height: 80%;
	left: -88px;
	position: absolute;
	width: 70%;
}

.about__maindiv__textdiv__falseborder {
	border-bottom: 1px solid $color2;
	border-left: 1px solid $color2;
	border-top: 1px solid $color2;
	height: 100%;
	width: 13.5%;
}

.about__maindiv__textdiv__ps {
	margin-left: -40px;
	width: 85%;
}

.about__maindiv__textdiv__ps p {
	margin: 3% 0px;
}

.about__maindiv__imgdiv {
	// height: 545px;
	width: 100%;
}

.about__maindiv__imgdiv img {
	width: 100%;
}






