article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

body {
  color: #000;
  font-family: "Fira Sans", sans-serif;
  font-size: 18px;
  font-weight: 300; }

h1, h2, h3, h4, h5, h6, p, ul, li, a {
  margin: 0;
  padding: 0; }

h1 {
  font-size: 106px; }

.section_number {
  border-bottom: 1px solid #000;
  color: #f1f1f1;
  font-size: 150px;
  font-weight: 500;
  text-align: center; }

h2 {
  font-family: "Amatic SC", cursive;
  font-size: 50px; }

h3 {
  border-bottom: 1px solid #000;
  font-size: 70px;
  padding-bottom: 8px; }

h4 {
  color: #585858;
  font-size: 22px; }

h5 {
  font-size: 28px;
  font-weight: 300; }

h1, h3 {
  font-family: "Amatic SC", cursive; }

.section_number {
  font-family: "Fira Sans", sans-serif; }

a {
  color: #000;
  text-decoration: none; }

header li a {
  border-bottom: 1px solid #000;
  color: #585858;
  padding-bottom: 8px; }

header li a:hover,
header li a:active {
  border-bottom: none;
  color: #7CBF1D; }

.blog__blogpostdiv a:hover,
.blog__blogpostdiv a:active {
  color: #7CBF1D;
  text-decoration: none; }

.blog__hiddenlink a:hover,
.blog__hiddenlink a:active {
  color: #FFF; }

.contact__methodbar__methoddiv a {
  color: #585858;
  text-decoration: underline; }

.green {
  color: #7CBF1D; }

input,
textarea {
  font-family: "Fira Sans", sans-serif;
  padding: 10px;
  width: 100%; }

footer h3 {
  border-bottom: none; }

.green_link {
  background: #7CBF1D;
  border-radius: 50px;
  color: #FFF;
  font-weight: 300;
  margin: 0 auto;
  padding: 16px 0px;
  text-align: center; }

.green_link:hover,
.green_link:active {
  background: #5D9B05; }

.contact__methodbar__methoddiv svg:hover,
.contact__methodbar__methoddiv svg:active {
  color: #5D9B05; }

.resume_link {
  width: 210px; }

.down_arrow_imgdiv,
.up_arrow_imgdiv,
.top_arrow_imgdiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 50px;
  margin: 10%;
  width: 50px; }

.scroll_icons_div {
  bottom: 0;
  position: absolute;
  right: 0; }

.down_arrow_imgdiv img,
.up_arrow_imgdiv img,
.top_arrow_imgdiv img {
  width: 100%; }

.down_arrow_imgdiv {
  background-image: url("../images/icon_downarrow_gray.png");
  background-position: center;
  background-size: cover; }

.up_arrow_imgdiv {
  background-image: url("../images/icon_uparrow_gray.png");
  background-position: center;
  background-size: cover; }

.top_arrow_imgdiv {
  background-image: url("../images/icon_toparrow_gray.png");
  background-position: center;
  background-size: cover; }

.up_arrow_imgdiv:hover,
.up_arrow_imgdiv:active {
  background-image: url("../images/icon_uparrow_green.png"); }

.down_arrow_imgdiv:hover,
.down_arrow_imgdiv:active {
  background-image: url("../images/icon_downarrow_green.png"); }

.top_arrow_imgdiv:hover,
.top_arrow_imgdiv:active {
  background-image: url("../images/icon_toparrow_green.png"); }

.blog__followmedium {
  width: 200px; }

.home .wrapper {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

header li a {
  border-bottom: unset; }

.home__nav__mobile a {
  color: #000;
  text-decoration: none; }

.home__nav__mobile ul {
  padding: 0;
  margin: 0; }

.hamburger__menu__content li {
  background: #FFF;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  list-style-type: none; }

.hamburger__menu__content li:first-of-type {
  border-top: 1px solid #000; }

.hamburger__menu {
  height: 8vh;
  position: relative; }

.hamburger__menu__imgdiv {
  background: #FFF;
  height: 28px;
  padding: 5px;
  width: 30px; }

.hamburger__menu__imgdiv img {
  width: 100%; }

.hamburger__menu__content {
  background: #FFF;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 100%;
  -webkit-transform: translateY(-2em);
          transform: translateY(-2em);
  -webkit-transition: all 0.4s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
  transition: all 0.4s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
  visibility: hidden;
  /* hides .hamburger__menu__content */
  width: 150px;
  z-index: -1; }

.hamburger__menu__content li {
  width: 150px; }

.hamburger__menu__content a {
  display: block;
  text-align: center;
  padding: 10px;
  width: 100%; }

.hamburger__menu__content a:hover,
.hamburger__menu__content a:active {
  background: gray;
  color: #fff; }

.hamburger__menu:focus .hamburger__menu__content,
.hamburger__menu:focus-within .hamburger__menu__content,
.hamburger__menu:hover .hamburger__menu__content,
.hamburger__menu:active .hamburger__menu__content {
  visibility: visible;
  /* shows hamburger__menu__content */
  opacity: 1;
  z-index: 1;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition-delay: 0s, 0s, 0.3s;
          transition-delay: 0s, 0s, 0.3s;
  /* this removes the transition delay so the menu will be visible while the other styles transition */ }

body {
  background: #FFF; }

header {
  margin-bottom: 30px; }

.about,
.skills,
.work,
.blog,
.contact,
footer {
  margin: 30px 0; }

.wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1250px;
  margin: 0 auto;
  position: relative;
  width: 80%; }

.section_heading {
  margin-top: 2%;
  padding-top: 15px;
  position: relative; }

.section_heading h1 {
  line-height: 0.68; }

.section_heading h2 {
  bottom: 15px;
  left: -10px;
  position: absolute; }

.subtitle {
  margin: 20px 0; }

header {
  height: 100vh;
  padding-top: 44px; }

ul {
  list-style: none; }

header h3 {
  margin: 0px 94px; }

.title_font_fr {
  margin: 0px 40px; }

.header__smtitlediv {
  position: relative; }

.header__smtitlediv__triangleimgdiv {
  left: 108px;
  position: absolute;
  top: 82px; }

.triangle_fr {
  left: 53px; }

nav, ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 10vh; }

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%; }

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%; }

li,
li a {
  width: 100%; }

.header__navul__left {
  text-align: right; }

.header__navul__left__fr {
  text-align: center; }

.header__navul__right {
  text-align: left; }

.header__navul__right__fr {
  text-align: center; }

.nav_language_mobile {
  display: none; }

.home__nav__mobile {
  display: none; }

.header__herodiv {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url("../images/image_header_shapes.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 80vh;
  width: 100%; }

.header__herodiv__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 60%; }

.header__herodiv__content h5 {
  margin: 20px 0px 60px 0px; }

.about {
  background-image: url("../images/image_about_shapes.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh; }

.about .section_heading_fr h2 {
  left: -26px;
  width: 150px; }

.about .wrapper {
  position: relative; }

.about__maindiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: -90px;
  position: relative;
  width: 80%; }

.about__maindiv__textdiv {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFF;
  border: 1px solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 80%;
  left: -88px;
  position: absolute;
  width: 70%; }

.about__maindiv__textdiv__ps {
  padding: 5%; }

.about__maindiv__textdiv__ps p {
  margin: 3% 0px; }

.about__image__mobile {
  display: none; }

.about__maindiv__imgdiv {
  width: 100%; }

.about__maindiv__imgdiv img {
  width: 100%; }

.skills {
  height: 100vh; }

.skills .section_heading h2 {
  left: -5px; }

.skills .section_heading_fr h2 {
  left: -53px; }

.skills__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 3%;
  width: 90%; }

.skills__know {
  width: 70%; }

.skills__know__grid {
  display: grid;
  grid-template-columns: 30% 30% 30%; }

.skills__tolearn__grid {
  display: grid;
  grid-template-columns: 100%; }

.skills__languagediv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 10px 0px; }

.skills__languagediv p {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 10px; }

.skills__languagediv i {
  font-size: 22px; }

.skills__languagediv__iconborder {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #000;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60px; }

.skills__languagediv__iconborder img {
  width: 100%; }

.skills_imgicon_padding {
  padding: 12px; }

.work {
  min-height: 100vh; }

.work .section_heading h2 {
  left: 1px; }

.work .section_heading_fr h2 {
  left: -13px; }

.work__projectdivfull {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 2%; }

.work__projectdiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 5% 0; }

.work__quiz__fr .view_live_div {
  margin-top: 25%; }

.work__projectimgdiv__imgdiv {
  width: 50%; }

.work__projectimgdiv__imgdiv img {
  width: 100%; }

.work__projectdiv__description {
  padding: 0 5%;
  width: 50%; }

.work__projectdiv__languagebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.label_language {
  background: #585858;
  color: #FFF;
  padding: 5px;
  margin: 0 5px; }

.work__projectdiv h4 {
  margin: 5% 0;
  text-align: center; }

.work__projectdiv p {
  height: 13%;
  margin-bottom: 5%;
  text-align: center; }

.view_live_div {
  margin-top: 15%; }

.view_live {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 55px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%; }

.blog {
  background-image: url("../images/image_work_shapes.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh; }

.blog .wrapper {
  height: 95vh; }

.blog .section_heading h2 {
  left: 12px; }

.blog .section_heading_fr h2 {
  left: -9px; }

.blog__articledivfull {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.blog__blogpostdiv {
  margin: 0 50px;
  padding-bottom: 2.5%;
  width: 30%; }

.blog__blogpostdiv__imgdiv {
  margin-bottom: 5%;
  position: relative;
  width: 100%; }

.blog__blogpostdiv__imgdiv:hover img,
.blog__blogpostdiv__imgdiv:active img {
  opacity: 0.3; }

.blog__blogpostdiv__imgdiv:hover .middle,
.blog__blogpostdiv__imgdiv:active .middle {
  opacity: 1; }

.blog__blogpostdiv__imgdiv img {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border: 1px solid #585858;
  display: block;
  height: auto;
  opacity: 1;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  width: 100%; }

.middle {
  -webkit-transition: .5s ease;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  width: 50%; }

.blog__articletitlediv {
  min-height: 32%; }

.blog__postdate {
  color: #9b9b9b; }

.blog__blogpostdiv a {
  color: #7CBF1D;
  font-weight: 400;
  line-height: 36px; }

.blog__blogpostdiv a:hover,
.blog__blogpostdiv a:active {
  color: #585858;
  text-decoration: underline; }

.blog__hiddenlink a {
  color: #FFF;
  text-decoration: none;
  width: 100%; }

.blog__followmedium {
  margin-top: 2%; }

.blog__followmedium__fr {
  width: 250px; }

.contact {
  height: 100vh; }

.contact .wrapper {
  height: 100vh; }

.contact .section_heading_fr h2 {
  left: -60px;
  width: 190px; }

.contact__methodbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 75%; }

.contact__methodbar__methoddiv {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5px 30px;
  width: 100%; }

.contact__methodbar__methoddiv p,
.contact_emailink {
  padding-left: 2%; }

.contact__methoddiv__imgdiv {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #000;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60px; }

.contact__methoddiv__imgdiv img {
  width: 100%; }

.contact__smicon {
  margin: 10px; }

.contact__smbar {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.contact__methodbar__methoddiv svg {
  background: #FFF;
  color: #7CBF1D; }

.contact__methoddiv__imgdiv svg {
  color: #000; }

.contact form {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 50vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1%;
  width: 70%; }

.contact__form__contactbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 2%;
  width: 90%; }

.contact__form__namefield,
.contact__form__emailfield {
  width: 40%; }

.contact__form__namefield,
.contact__form__emailfield,
.contact__form__messagefield {
  border: 1px solid #000; }

.contact__form__messagefield {
  height: 150px;
  width: 90%; }

textarea {
  border: none; }

.contact__form__messagefield textarea {
  height: 100%;
  width: 100%; }

.form_required_line {
  padding-top: 10px;
  width: 90%; }

form button {
  border: none;
  width: 150px; }

footer {
  margin: 40px; }

footer .wrapper {
  border-top: 1px dotted #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5%;
  padding-top: 2%; }

/* Portrait tablet and small desktops */
@media (max-width: 1050px) {
  .wrapper {
    width: 90%; }
  h1 {
    font-size: 76px; }
  .header__herodiv__content h5 {
    margin: 20px 0px 36px 0px; }
  h5 {
    font-size: 24px; } }

@media (max-width: 985px) {
  .nav_language_mobile {
    display: unset; }
  .nav_language_desktop {
    display: none; }
  .scroll_icons_div {
    top: 3%;
    bottom: unset; }
  .about {
    height: unset; }
  .about .wrapper {
    min-height: 95vh; }
  .about__maindiv,
  .about__maindiv__textdiv {
    position: unset;
    margin-right: unset; }
  .about__maindiv {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%; }
  .about__maindiv__textdiv {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 68%; }
  .about__image__desktop {
    display: none; }
  .about__image__mobile {
    border-radius: 50%;
    display: unset;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
  .about__maindiv__imgdiv {
    margin-bottom: 3%;
    width: 30%; }
  .skills {
    height: unset; }
  .skills__know__grid {
    grid-template-columns: 50% 50%; }
  .contact__address {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }
  .contact__email {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
  .contact__methodbar {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 22%; }
  .contact__methodbar__methoddiv {
    margin: 15px 30px;
    width: 70%; }
  .work,
  .work__projectdivfull {
    height: unset; }
  .work__projectdivfull {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .work__projectdiv {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 80%; }
  .work__projectimgdiv__imgdiv,
  .work__projectdiv__description {
    width: 80%; }
  .work__projectdiv h4 {
    margin: 3% 0; }
  .view_live_div {
    margin-top: 5%;
    margin-bottom: 20%; }
  .contact {
    height: unset; }
  .contact .wrapper {
    height: unset; }
  .contact__methodbar {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .contact__form {
    padding-bottom: 3%; }
  .contact__form__contactbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 15vh; }
  .contact__form__namefield,
  .contact__form__emailfield {
    width: 100%; } }

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  .header__herodiv__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  h1 {
    font-size: 106px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: unset; }
  .header__smtitlediv {
    display: none; }
  .home__nav__desktop {
    display: none; }
  .home__nav__mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .home__nav__mobile ul {
    background: #FFF;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  header {
    padding-top: 16px; }
  .header__herodiv {
    background-image: url("../images/image_header_shapes_mobile.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; }
  .about__maindiv__textdiv {
    width: 100%; }
  .skills__div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .skills__know,
  .skills__learn {
    width: 100%; }
  .skills__know .subtitle,
  .skills__tolearn .subtitle {
    text-align: center; }
  .skills__tolearn__grid {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%; }
  .blog,
  .blog .wrapper {
    background: none;
    height: unset;
    padding-bottom: 5%; }
  .blog__articledivfull {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .blog__blogpostdiv {
    width: 80%; }
  .blog__postdate {
    margin-top: 2%;
    margin-bottom: 10%; }
  .contact__methodbar {
    margin-left: 0; }
  .contact__email__imgdiv {
    display: none; } }

/* Landscape phones and down */
@media (max-width: 480px) {
  .header__herodiv {
    background-image: none; }
  .about p {
    line-height: 2;
    margin: 5% 0; }
  .skills__know .subtitle,
  .skills__tolearn .subtitle {
    margin-left: unset;
    text-align: unset; }
  .skills__tolearn {
    margin-top: 10%;
    width: 100%; }
  .skills__know__grid {
    display: unset;
    width: 100%; }
  .skills__tolearn__grid {
    margin-left: 0;
    grid-template-columns: 100%; }
  .skills__tolearn,
  .skills__know {
    margin-left: 25%; }
  .contact__methodbar {
    width: 100%; }
  .contact__methoddiv__imgdiv {
    display: none; }
  .contact__email {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%; }
  .contact p {
    text-align: center; }
  .contact__address p {
    padding-left: 0;
    width: 100%; }
  .contact_emailink {
    padding-left: 0; }
  .wrapper form {
    width: 100%; }
  .form_required_line {
    margin-bottom: 10%; } }

@media (max-width: 320px) {
  header .wrapper {
    width: 100%; }
  li, li a {
    width: unset; }
  .header__navul {
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  .header__herodiv__content {
    width: 80%; } }
