/// Colour palette


// Basic colours:
$color1: #FFF;
// White 

$color2: #000;
// Black

$color3: #D8D8D8;
// Neutral Grey

$color4: #7CBF1D;
// Green

$color5: #585858;
// Gray

$color6: #f1f1f1;

// Hover green -sm only
$color7: #5D9B05

// Your colour scheme: 
// $color4:
// For call to action items

// $color5:
// Background 

// $color6:
// Accent colour

// Recommended resource for finding colour schemes: https://coolors.co/

