.green_link {
    // background: -webkit-linear-gradient(0deg, #96d73a 0%, #71c000 100%);
    // background: -moz-linear-gradient(0deg, #96d73a 0%, #71c000 100%);
    // background: -o-linear-gradient(0deg, #96d73a 0%, #71c000 100%);
    // background: -ms-linear-gradient(0deg, #96d73a 0%, #71c000 100%);
    // background: linear-gradient(90deg, #96d73a 0%, #71c000 100%);
    // box-shadow: 0px 10px 27px 0px rgba(145, 218, 41, 0.27);
    background: $color4;
    border-radius: 50px;
    color: $color1;
    font-weight: 300;
    margin: 0 auto;
    padding: 16px 0px;
    text-align: center;
}


.green_link:hover,
.green_link:active {
    background: $color7;
    // background: -webkit-linear-gradient(0deg, #71b115 0%, #579300 100%);
    // background: -moz-linear-gradient(0deg, #71b115 0%, #579300 100%);
    // background: -o-linear-gradient(0deg, #71b115 0%, #579300 100%);
    // background: -ms-linear-gradient(0deg, #71b115 0%, #579300 100%);
    // background: linear-gradient(90deg, #71b115 0%, #579300 100%);
    // box-shadow: 0px 10px 27px 0px rgba(145, 218, 41, 0.27);
}

.contact__methodbar__methoddiv svg:hover,
.contact__methodbar__methoddiv svg:active {
    color: $color7;
}

.resume_link {
    width: 210px;
}

.down_arrow_imgdiv,
.up_arrow_imgdiv,
.top_arrow_imgdiv {
    display: flex;
    flex-direction: column;
    height: 50px;
    margin: 10%;
    width: 50px;
}

.scroll_icons_div {
    bottom: 0;
    position: absolute;
    right: 0;
}

// Image: down arrow by hans draiman from the Noun Project

.down_arrow_imgdiv img,
.up_arrow_imgdiv img,
.top_arrow_imgdiv img {
    width: 100%;
}

.down_arrow_imgdiv {
    background-image: url('../images/icon_downarrow_gray.png');
    background-position: center;
    background-size: cover;
}

.up_arrow_imgdiv {
    background-image: url('../images/icon_uparrow_gray.png'); 
    background-position: center;
    background-size: cover;   
}

.top_arrow_imgdiv {
    background-image: url('../images/icon_toparrow_gray.png'); 
    background-position: center;
    background-size: cover;   
}

.up_arrow_imgdiv:hover,
.up_arrow_imgdiv:active {
    background-image: url('../images/icon_uparrow_green.png');
}

.down_arrow_imgdiv:hover,
.down_arrow_imgdiv:active {
    background-image: url('../images/icon_downarrow_green.png');
}

// To Top by Jeremy Elder from the Noun Project

.top_arrow_imgdiv:hover,
.top_arrow_imgdiv:active {
    background-image: url('../images/icon_toparrow_green.png');
}

.blog__followmedium {
    width: 200px;
}


